{{#each products}}
<div class="container">
    <div class="row">
         <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="{{this.imgPath}}" />
            <h3>{{ this.title }}</h3>
        </div>
            <h5 class="title-price"><small>Price</small></h5>
            <h3 style="margin-top:0px;">US {{this.price}}</h3>
    </div>
 </div>
{{/each}}